@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url('./background.png');
  background-size: cover;
  background-position: center;
}